<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Consultar</div>
                <a class="nav-link" routerLink="/cotacao">
                  <div class="sb-nav-link-icon">
                    <i class="fas fa-tachometer-alt"></i>
                  </div>
                    Cotação
                </a>
                <div class="sb-sidenav-menu-heading">Gráficos</div>
                  <a class="nav-link" routerLink="/grafico">
                    <div class="sb-nav-link-icon">
                      <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Gráfico em Linha
                  </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logado como:</div>
            Jhonatan Canguçu
        </div>
    </nav>
</div>
